 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/fb47fe156358a874a55d75638ed58563fc29710e518bf24162d6fde228513fd6cf8e24ae57a466eae0277eabe689a425150b1e5c0187066d519b83_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 636px;
}

.u-section-1 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 826px;
  margin: 75px auto 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}