 .u-section-1 {
  background-image: url("images/c93ca25553fe1f845308f6b4a8d375b3b33bdf2c03ee4baeb50082a2ce3d73bb5aa85789a6013d2ca149646a5115d49bbeafeac985f089db357cc4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 746px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 548px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 23px;
}

.u-section-1 .u-image-1 {
  height: 213px;
  width: 324px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 1px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 50px auto 0 1px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 23px;
}

.u-section-1 .u-image-2 {
  height: 213px;
  width: 324px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 35px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 35px 1px 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 50px auto 0 1px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 23px;
}

.u-section-1 .u-image-3 {
  height: 213px;
  width: 324px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 35px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 35px 1px 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 50px auto 0 1px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-list-1 {
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 452px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -294px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 260px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -358px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 324px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 103px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1039px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -262px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 228px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -326px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -230px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 196px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -230px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 196px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 210px;
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -262px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 228px;
  }

  .u-section-1 .u-image-2 {
    height: 210px;
    width: 320px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -294px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 260px;
  }

  .u-section-1 .u-image-3 {
    height: 210px;
    width: 320px;
  }
}